body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative;
}

header h1 {
    margin: 0;
}

header h1 span {
    color: #ff4000;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Consolas, monospace;
    white-space: pre-wrap;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #ff4000;
    color: #fff;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}